.master-bg {
  background-image: url(/images/master-bg.png);
  background-size: 100% 100%;
}
.how-tool-bg {
  background-image: url(/images/how-tool-bg.png);
  background-size: 100% 100%;
}
.sensei-is-bg {
  background-image: url(/images/sensei-is-bg.png);
  background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .master-bg {
    background-image: url(/images/mob-master-bg.png);
    background-size: 100% 100%;
  }
  .how-tool-bg {
    background-image: url(/images/mob-tool.png);
    background-size: 100% 100%;
  }
  .sensei-is-bg {
    background-image: url(/images/mob-sensei-is-bg.png);
    background-size: 100% 100%;
  }
}
