@font-face {
  font-family: Odor-Mean-Chey;
  src: url(/fonts/Odor_Mean_Chey/OdorMeanChey-Regular.ttf);
}
@font-face {
  font-family: MADE-TOMMY;
  src: url(/fonts/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face {
  font-family: nuku;
  src: url(/fonts/nuku_nuku/nuku1.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}
body {
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.odor-mean-chey-font {
  font-family: Odor-Mean-Chey;
}
.made-tommy-font {
  font-family: MADE-TOMMY;
}
.nuku-nuku-font {
  font-family: nuku;
}

select {
  color: white !important;
  outline: none;
}
select option {
  margin: 40px;
  background: transparent;
  color: black !important;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.glob-btn {
  width: 204.97px;
  height: 66.41px;
  font-size: 18px;
  font-weight: 600;
  font-family: MADE-TOMMY;
  background: linear-gradient(180deg, #fe3736 0%, #e52123 100%);
  border-radius: 27.5px;
  box-shadow: 1px 5px 0px #b11a10;
  transition: all 0.2s ease;
}
.glob-btn:hover {
  box-shadow: 1px 8px 0px #b11a10;
  scale: 1.02;
}
