.buy-now-card {
  background: #cc2824;
  border: 1px solid #fe3736;
  box-shadow: 5px 16px 52px rgba(0, 0, 0, 0.5);
  border-radius: 48px;
  max-width: 550px;
}
.timer-box {
  background-color: #f61806;
  border: 1px solid #fe3736;
  border-radius: 27.5px;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.chain-btn {
  background: #ffffff;
  color: #4b4b4b;
  border: 2px solid #aeaeae;
  border-radius: 27.5px;
  display: flex;
  align-items: center;
  width: 110px;
  gap: 10px;
  padding: 2px;
  transition: all 0.2s ease;
}
.chain-btn:hover {
  /* background-color: #b5b3b3; */
  border: 2px solid #f93332;
}
.chain-btn .red-border {
  border: 2px solid #f93332;
}
.input-box {
  background: #e8e8e8;
  box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 27.5px;
}
.buy-now-btn {
  background: linear-gradient(180deg, #fe3736 0%, #e52123 100%);
  border-radius: 27.5px;
  font-weight: 800;
  border: 1px solid #1a1a1a;
  box-shadow: 0px 3px 3px 2px #1a1a1a;
  transition: all 0.2s ease;
}
.buy-now-btn:hover {
  box-shadow: 0px 3px 5px 4px #1a1a1a;
}
