.airdrop-bg {
  background-image: url(/images/airdrop-bg.png);
  background-size: 100% 100%;
}
.airdrop-cards {
  background-image: url(/images/airdrop-card.png);
  background-size: 100% 100%;
  /* height: 300px; */
}
